<style>
  .field-width {
    width: 90%;
  }

  mat-form-field {
    margin-left: 20px;
  }
</style>

<div style="margin-top: 30px; width: 90%">
  <form>
    <mat-form-field class="field-width" appearance="fill">
      <mat-label>Favorite Fruits</mat-label>
      <mat-chip-list #chipList aria-label="Fruit selection">
        <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable" [removable]="removable"
          (removed)="removeFruit(fruit)">
          {{fruit}}
          <button matChipRemove *ngIf="removable">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
        <input #fruitInput placeholder="New fruit..." [matChipInputFor]="chipList" [formControl]="fruitCtrl"
          [matAutocomplete]="autoFruit" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="addFruit($event)">
      </mat-chip-list>
      <mat-autocomplete #autoFruit="matAutocomplete" (optionSelected)="fruitSelected($event)">
        <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
          {{fruit}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>
